.user-form {
    width: 30%;
  }
  
.p-inputtext {
    width: 100%;
  }

tr {
    background: #ffffffd2 !important;
    color: #495057;
    transition: box-shadow 0.2s;
}

.container {
  border-radius: 25px;
  background-color: #fdfdfd61;
}